
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)
and (orientation : portrait) {
   #forhead{
       display:none;
   }
   .mininav1{
    display:block;
    width:20px;
    margin-left:-20px;
}
#cities{
    margin-top:700px;
    margin-left:-1800px;
    
}
h2{
    display:none;
}
.flex-container{
    
    margin-top:-50px;
    flex-flow:column;
    margin-left:-130px;
}
.flex-item{
    font-size:10px;
}
.container{
    display:none;
    
}
.back{
    display:none
}
.father:hover {
    transform: rotateY(0deg);
  }
#pictureone,#picturetwo,#picturethree{
    display:none;
}
#minipic{
    display:flex;
    flex-flow:column;
    width:230px;
    height:200px;
    margin-left:-80px;
    margin-top:-25px;
}
.minip{
    text-align:center;
}
#ann_arbor,#shanghai,#luoyang{
    display:none;
}
#word{
    margin-left:-1000px;
    width:250px;
    margin-top:-170px;
   
    
}
h1{
    margin-left:300px;
    width:300px;
}
.minip1{
    margin-left:-100px;
    width:350px;
}
#social{
    display:none;
}
#picturechoose{
    display:none;
}

#main{
    margin-left:170px;
    margin-top:-60px;

}
h1{
    font-size:50px;
}
main{
    height:1000px;
    width:400px;
}
body{
    width:400px;
    height:500px;
}
.container{
    width:200px;
}

}